/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for iGenomes paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'GRCh38' {
            star     = 's3://kumo-flatfile/genome_resources/Homo_sapiens.GRCh38.104/STAR/STAR-2.7.9a'
            rsem     = 's3://kumo-flatfile/genome_resources/Homo_sapiens.GRCh38.104/RSEM'
            kallisto = 's3://kumo-flatfile/genome_resources/Homo_sapiens.GRCh38.104/kallisto'
            gtf      = 's3://kumo-flatfile/genome_resources/Homo_sapiens.GRCh38.104/GFF/Homo_sapiens.GRCh38.104.gtf'
            bed      = 's3://kumo-flatfile/genome_resources/Homo_sapiens.GRCh38.104/BED/Homo_sapiens.GRCh38.104.bed'
        }
        'yeast' {
            star     = 's3://kumo-ihm-coqrfo4abafth35cznedenygbkq6keuc1a-s3alias/kumotestzs/test-datasets/reference/star'
            rsem     = 's3://kumo-ihm-coqrfo4abafth35cznedenygbkq6keuc1a-s3alias/kumotestzs/test-datasets/reference/rsem'
            kallisto = 's3://kumo-ihm-coqrfo4abafth35cznedenygbkq6keuc1a-s3alias/kumotestzs/test-datasets/reference/kallisto'
            gtf      = 's3://kumo-ihm-coqrfo4abafth35cznedenygbkq6keuc1a-s3alias/kumotestzs/test-datasets/reference/genes.gtf'
            bed      = 's3://kumo-ihm-coqrfo4abafth35cznedenygbkq6keuc1a-s3alias/kumotestzs/test-datasets/reference/genes.bed'
        }
    }
}